.headerMain {
    top: 0;
    right: 0;
    padding: 10px;
    background-color: rgb(131, 197, 236);
  }
  
  header nav ul {
    list-style: none;
  } 
  
  header nav ul li{
    text-align: right; /* テキストを右寄せする */
  }
  
  header nav ul li a {
    color: rgb(27, 27, 27);
    font-weight: 500;
  }
  
  .headerImg {
    width: 50px; /* 幅を指定 */
    height: auto; /* 高さは自動調整 */
  }
  
  .headerMessage{
    font-weight: bold; /* フォントの太さを太くする */
    font-size: 24px; /* フォントサイズを指定 */
    text-transform: uppercase; /* テキストを大文字に変換 */
    letter-spacing: 2px; /* 文字間のスペースをあける*/
  }

  .dropdown-menu {
    display: none;
    order: 1;
    position: absolute; /* ポップアップ要素に対して絶対的な位置を指定 */
    right: 0; /* ポップアップ要素を右寄せに配置 */
  }
  
  .menu-icon {
    cursor: pointer;
    display:grid;
    justify-content: flex-end;
  }
  
  .menu-line {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 2px 0;
  }

  .dropdown-menu li {
    list-style: none;
    text-align: right; /* テキストを右寄せする */
  }