body{
  font-size: 130%;
}

/* .button {
    color: #333;
    background-color: rgb(131, 197, 236);
    width: 200px;
    border-radius: 10px;
}


  .button:hover {
    border-bottom: 2px solid #333;
    opacity: 0.5;
  } */

  #title{
  text-align: center;
  }


  .back_button {
    display: inline-block;
    padding: 5px 20px;
    background-color: rgb(131, 197, 236);
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 4px;

  }

    .next_button {
      display: inline-block;
      padding: 5px 20px;
      background-color: rgb(131, 197, 236);
      color: #000000;
      text-decoration: none;
      border: 1px solid #000000;
      border-radius: 4px;

    }

   .buttons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 1000px

   }

  .button:hover {
    background-color: #cccccc;
    opacity: 0.5;
  }

#question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: lightgreen;
  width: 80%;
  margin: 0 auto;


  }

#choices {
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  border: none;
  background-color:rgb(131, 197, 236);
  cursor:pointer;
  font-size:20px;
}
.choices{
  margin-left: 170px;
}

hr{
   border-top: 3px double #ccc;
}