

.margin {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

#size1, #size2 {
    font-size: 12px;
    height: 35px;
    padding: 10px;
}

.i {
    padding: 10px;
}

.list-container {
  display: grid;
  justify-items: start;
  justify-content: center;
}

