<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- サイトの説明欄 -->
    <meta
      name="ITインフォパスマスター"
      content="試験内容別にテストがあり、ユーザーの受けたいテストをピンポイントに受講できる"
    />
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="./Common/sanitize.css" />
    <!--自作のCSS-->
    <link rel="stylesheet" href="/CSS/style_admin_question_make.css" />

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="./image/exam.png" />
    <title>ITインフォパスマスター</title>
  </head>
  <body class="style">
    <!--ヘッダーの指定-->
    <th:block th:insert="./Header/main_header"></th:block>
  
    <!--ここにコードを記入-->
    <div id="honbun" style="text-align:center">
      <div id="categoryText" class="category">
        <select id="testDown">
          <option class="testOption"></option>
        </select>
      </div>

      <div class="questionName">
        <input id="questionName" type="text" placeholder="問題名を記入">
      </div>

      <div class="questionText">

        <textarea
                id="questionText"
                cols="50"
                rows="10"
                placeholder="問題文を記入"
        ></textarea>
      </div>

      <div class="choiceText">
        <p><input type="text" placeholder="選択肢1" class="choiceTexts" name="choice"><input type="radio" name="radio" value="1" class="radio" checked></p>
        <p><input type="text" placeholder="選択肢2" class="choiceTexts" name="choice"><input type="radio" name="radio" value="2" class="radio"></p>
        <p><input type="text" placeholder="選択肢3" class="choiceTexts" name="choice"><input type="radio" name="radio" value="3" class="radio"></p>
        <p><input type="text" placeholder="選択肢4" class="choiceTexts" name="choice"><input type="radio" name="radio" value="4" class="radio"></p>
      </div>

      <div class="answerText">

        <textarea
                id="answerText"
                cols="50"
                rows="10"
                placeholder="解説を記入"
        ></textarea>
      </div>

    </div>
    <div class="buttons">
      <button id="back" class="buttonCommon"><a href="/menu">戻る</a></button>
      <button id="add" class="buttonCommon">追加する</button>
      <button id="pass1" class="buttonCommon">問題振り分け</button>
      <button id="pass2" class="buttonCommon">ゲーム問題管理</button>
    </div>
    <!--JSの指定-->
    <script type="text/javascript" src="/JS/app_admin_question_make.js"></script>
  </body>
</html>