<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- サイトの説明欄 -->
    <meta
      name="ITインフォパスマスター"
      content="試験内容別にテストがあり、ユーザーの受けたいテストをピンポイントに受講できる"
    />
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="/Common/sanitize.css" />
    <!--自作のCSS-->
    <link rel="stylesheet" href="/CSS/style_admin_account.css" />
    <link rel="stylesheet" href="/Common/button.css" />

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="/image/exam.png" />
    <title>ITインフォパスマスター</title>
  </head>
  <body>
    <!--ヘッダーの指定-->
    <input id="js-userId" type="hidden" th:value="${session.user.id}" />

    <!--cargoのIDの格納用-->
    <input id="js-id" type="hidden" th:value="${id}" />

    <div class="mainDiv">
      <h1>問い合わせ内容</h1>
      <fieldset>
        <div class="inputEach">
          <label for="js-inputTitle">タイトル</label>
          <input type="text" id="js-inputTitle" readonly />
        </div>
        <div class="inputEach">
          <label for="js-inputInquiry">内容</label>
          <textarea
            name="inquiry"
            id="js-inputInquiry"
            cols="50"
            rows="10"
            readonly
          ></textarea>
        </div>
        <div class="inputEach">
          <label for="js-answerInquiry">解答</label>
          <textarea
            name="inquiry"
            id="js-answerInquiry"
            cols="50"
            rows="10"
            readonly
          ></textarea>
        </div>
      </fieldset>
      <a href="/user_inquiry" class="button">戻る</a>
    </div>

    <!--JSの指定-->
    <script src="/JS/app_detail_inquiry.js"></script>
  </body>
</html>
