<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- サイトの説明欄 -->
    <meta
      name="ITインフォパスマスター"
      content="試験内容別にテストがあり、ユーザーの受けたいテストをピンポイントに受講できる"
    />
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="./Common/sanitize.css" />
    <!--自作のCSS-->
    <link rel="stylesheet" href="/CSS/style_game_start.css" />

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="./image/exam.png" />
    <title>ITインフォパスマスター</title>
  </head>
  <body>

    <!--ヘッダーの指定-->
    <th:block th:insert="./Header/main_header"></th:block>
  
    <!--ここにコードを記入-->
    <div class="display">
      <div class="category">
        <p>カテゴリ名：<span id="categoryName"></span></p>
        <p>タイトル：<span id="questionName"></span></p>
      </div>

      <div class="question">
        <div>問題：</div>
        <p id="questionText"></p>
      </div>

      <div class="time">
        <p id="time">タイム：<span id="stopwatch"></span></p>
      </div>

      <div id="select" class="select">
        <input type="radio" name="select" checked><span class="meme"></span><br>
        <input type="radio" name="select"><span class="meme"></span><br>
        <input type="radio" name="select"><span class="meme"></span><br>
        <input type="radio" name="select"><span class="meme"></span><br>
      </div>
    </div>
    <button id="next" class="button">次へ</button>
    <a href="/game_finish"><button id="ok" class="button">終了</button></a>

    <div class="hidden" id="i" name="i">0</div>
    <div class="hidden" id="questionId" name="questionId"></div>
    <div class="hidden" id="userGameId" name="userGameId">[[ ${session.userGameId} ]]</div>
    <div class="hidden" id="userRole">[[ ${session.user.role} ]]</div>
    <div class="hidden" id="m" name="minutes"></div>
    <div class="hidden" id="s" name="seconds"></div>
    <!--JSの指定-->
    <script type="text/javascript" src="/JS/app_game_start.js"></script>
  </body>
</html>