<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- サイトの説明欄 -->
    <meta
      name="ITインフォパスマスター"
      content="試験内容別にテストがあり、ユーザーの受けたいテストをピンポイントに受講できる"
    />
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="./Common/sanitize.css" />
    <!--自作のCSS-->
    <link rel="stylesheet" href="/CSS/style_game_finish.css" />

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="./image/exam.png" />
    <title>ITインフォパスマスター</title>
  </head>
  <body class="style" style="text-align:center">
    <!--ヘッダーの指定-->
    <th:block th:insert="./Header/main_header"></th:block>
  
    <!--ここにコードを記入-->
    <div id="userGameId" name="userGameId" style="display: none">[[ ${session.userGameId} ]]</div>
    <div id="userRole" style="display: none">[[ ${session.user.role} ]]</div>
    <div id="userId" style="display: none">[[ ${session.user.id} ]]</div>
    <div style="text-align:center">
      <div>
        <h1>終了！！</h1>
      </div>

      <div class="collar">
        <!-- 問題画面から受け取ったタイムデータ＋間違えた問題週プラスされたタイムを表示 -->
        <p id="result1">タイム：<span id="minutes"></span> 分 <span id="seconds"></span> 秒 </p>
        <p id="result2">（間違えた問題数：<span id="falseCount"></span>問 × 10秒　　→　　＋<span id="addTime"></span>秒！！）</p>
        <!-- ＤＢから取得して表示 -->
      </div>


      <div class="i" style="text-align:center">
        <a href="/game_main"><button id="size1" class="button">もう一度</button>
        </a> <a href="/menu"><button id="size2" class="button">メニューへ戻る</button></a>
      </div>

    </div>
  </body>

  <body>
    <form action="/game_detail" method="POST" id="list">


    </form>
    <!--JSの指定-->
    <script type="text/javascript" src="/JS/app_game_finish.js"></script>
  </body>
</html>