<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- サイトの説明欄 -->
    <meta
      name="ITインフォパスマスター"
      content="試験内容別にテストがあり、ユーザーの受けたいテストをピンポイントに受講できる"
    />
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="/Common/sanitize.css" />
    <!--自作のCSS-->
    <link rel="stylesheet" href="/Common/button.css" />
    <link rel="stylesheet" href="/CSS/style_menu.css" />

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="/image/exam.png" />
    <title>ITインフォパスマスター</title>
  </head>
  <body>
    <!--ヘッダーの指定-->
    <th:block th:insert="/Header/main_header.html"></th:block>
    <!--IDの格納用-->
    <input
      id="js-userId"
      type="hidden"
      th:value="${session.user.id}"
    />
        <!--権限の格納用-->
        <input
        id="js-userRole"
        type="hidden"
        th:value="${session.user.role}"
      />


    <div class="mainBackImg">
      <!--ランキング表示-->
      <div class="mainBody">
        <div class="ranking">
          <img class="rankingimg" src="/image/ranking1.png" alt="ランキング" />
          <h2 class="ranking-title">ゲームランキング</h2>

          <select id="js-listSelect"></select>

          <ol class="ranking-list">
            <li class="ranking-list-item">
              <img class="ranking1" src="/image/first.png" alt="１位" /><span>
              </span
              ><span class="ranking1Name" id="js-ranking1Name">-</span>さん
              タイム：<span class="ranking1Name" id="js-ranking1Score"></span>秒
            </li>
            <li class="ranking-list-item">
              <img class="ranking2" src="/image/medal2.png" alt="２位" /><span>
              </span
              ><span class="ranking2Name" id="js-ranking2Name">-</span>さん
              タイム：<span class="ranking2Name" id="js-ranking2Score"></span>秒
            </li>
            <li class="ranking-list-item">
              <img class="ranking3" src="/image/medal3.png" alt="３位" /><span>
              </span
              ><span class="ranking3Name" id="js-ranking3Name">-</span>さん
              タイム：<span class="ranking2Name" id="js-ranking3Score"></span>秒
            </li>
          </ol>
        </div>

        <!--userのみ出力-->
        <th:block th:if="${session.user.role == 'user'}">
          <div class="my-ranking">
            <h2>自分のランキング</h2>
            <p>
              <span id="js-myRanking"></span>位: [[ ${session.user.name} ]] さん
              タイム：<span id="js-myScore"></span>秒
            </p>
          </div>
        </th:block>

        <!--各ボタン-->
        <div class="buttons">
          <a class="button" href="/game_main" id="js-btnToQuestion"
            >ゲームモード</a
          >
          <div class="btnQuestons">
            <a class="button" href="/question_main" id="js-btnToQuestion"
              >一問一答問題</a
            >
            <a class="button" href="/random_select" id="js-btnToQuestion"
              >ランダム問題</a
            >
          </div>
        </div>
      </div>
    </div>

    <!--JSの指定-->
    <script src="/JS/app_menu.js"></script>
  </body>
</html>
