<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!-- サイトの説明欄 -->
    <meta
            name="ITインフォパスマスター"
            content="試験内容別にテストがあり、ユーザーの受けたいテストをピンポイントに受講できる"
    />
    <!--CSSリンク-->
    <!--Webフォントのリンク３つ-->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <!--デフォルトの表示用CSS(ブラウザの表示の統一化)-->
    <link rel="stylesheet" href="./Common/sanitize.css"/>
    <!--自作のCSS-->
    <link rel="stylesheet" href="./CSS/style_random_select.css"/>
    <!-- <link rel="stylesheet" href="#" /> -->

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="./image/exam.png"/>
    <title>ITインフォパスマスター</title>
</head>
<body>

<input
        id="js-userId"
        type="hidden"
        th:value="${session.user.id}"
/>

<!--ヘッダーの指定-->
<th:block th:insert="./Header/main_header"></th:block>
<!-- <th:block th:insert="#"></th:block> -->

<!--ここにコードを記入-->

<div class="choice">ランダムモードで選択したい範囲を学習しよう！
<div><span th:text="${alert}"></span></div>
</div>
<!--<div class="all_element">-->

<div class="age_categories">



        <div class="age">
            <!--年代選択 開始-->
            <div id="error_message"></div>
            <div id="js_select_age">
                <!--年代のプルダウンボックスを入れる-->
            </div>
            <!--年代選択 終了-->
        </div>

        <div class="categories">
            <!--カテゴリ選択　開始-->

            <!--カテゴリ全部を囲むdiv(試し)-->
            <form name="category_form">
                <div class="group">
                    <div id="categories1">

                        <div id="database">
                            <label><input id="category1" type="checkbox" name="category" value="1">データベース</label>
                        </div>

                        <div id="system_arch">
                            <label><input id="category2" type="checkbox" name="category" value="2">システム構成要素</label>
                        </div>

                        <div id="info_process">
                            <label><input id="category3" type="checkbox" name="category" value="3">情報処理</label>
                        </div>
                    </div>

                    <div id="categories2">

                        <div id="network">
                            <label><input id="category4" type="checkbox" name="category" value="4">ネットワーク</label>
                        </div>

                        <div id="management">
                            <label><input id="category5" type="checkbox" name="category" value="5">マネジメント</label>
                        </div>

                        <div id="security">
                            <label><input id="category6" type="checkbox" name="category" value="6">セキュリティ</label>
                        </div>

                        <div id="kanpeki">
                            <label><input id="perfect_check" type="checkbox" name="kanpeki" value="kanpeki">完璧を含む</label>
                        </div>

                    </div>

                </div>
            </form>
        </div>

</div>
<!--カテゴリ選択　終了-->



<!--ランダムモードボタン 開始-->
<div class="center">
    <spam class="button_title">隙間時間に学習しよう！</spam>
    <br>

    <div class="random_mode">
        <button id="random_start_btn" class="buttons">ランダムモード</button>
    </div>
    <!--ランダムモード　終了-->

    <br>

    <!--見返しリスト　開始-->
    <span class="button_title">ランダムモードで🌟を押した問題を復習しよう！</span>
    <br>
    <div class="mikaeshi_mode">
        <form action="/random_look_list" method="GET">
        <button class="buttons">見返しリスト🌟</button>
        </form>
    </div>

    <form action="/menu" method="GET">
        <button class="buttons">メニューに戻る</button>
    </form>
</div>
<!--</div>-->
<!--JSの指定-->
<script src="./JS/app_random_select.js"></script>
<!-- <script src="#"></script> -->
</body>
</html>